adium-theme-ubuntu==0.3.4
bcrypt==3.1.0
cffi==1.7.0
click==6.6
Flask==0.11.1
Flask-PyMongo==0.4.1
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pycparser==2.14
pymongo==3.3.0
six==1.10.0
SQLAlchemy==1.0.14
unity-lens-photos==1.0
virtualenv==15.0.3
Werkzeug==0.11.10
WTForms==2.1
